<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="frmMenuPrincipal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="frmMenuPrincipal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="frmMenuPrincipal.Properties.Settings.TCCConnectionString"
            connectionString="Data Source=172.168.255.252;User ID=05041_1_C_1_2017;Password=Markto1@"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <frmMenuPrincipal.Properties.Settings>
            <setting name="NivelUsuarioLogado" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NomeUsuarioLogado" serializeAs="String">
                <value />
            </setting>
        </frmMenuPrincipal.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <frmMenuPrincipal.Properties.Settings>
            <setting name="Etec" serializeAs="String">
                <value>Data Source=172.168.255.252;User ID=05041_1_C_1_2017;Password=Markto1@</value>
            </setting>
            <setting name="Casa" serializeAs="String">
                <value>Data Source=PC-LUCAS\sqlexpress;Initial Catalog=TCC;Integrated Security=True</value>
            </setting>
        </frmMenuPrincipal.Properties.Settings>
    </applicationSettings>
</configuration>